div(class="row")
	div(class="col-md-6")
		form(action="/lookup" method="/get")
			div(class="form-group input-group")
				span(class="input-group-addon") Select a champion
				input(type="text" name="champion" class="form-control" placeholder="Yorick")
			button(type="submit" class="btn btn-default") Search